/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
/* /Fonts */
/* Global */
html {
  margin: 0 !important;
  overflow-x: hidden; }

body {
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding-top: 85px; }
  @media only screen and (max-width: 1200px) {
    body {
      padding-top: 60px; } }
  @media only screen and (max-width: 950px) {
    body {
      padding-top: 45px; } }

a {
  text-decoration: none;
  color: inherit; }

*, *::before, *::after {
  box-sizing: border-box;
  direction: ltr; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0; }

ul {
  -webkit-padding-start: 0;
  list-style: none;
  margin: 0;
  padding: 0; }

section {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  overflow: hidden;
  position: relative;
  padding: 90px 0; }
  @media only screen and (max-width: 1370px) {
    section {
      padding: 75px 0; } }
  @media only screen and (max-width: 1200px) {
    section {
      padding: 55px 0; } }
  @media only screen and (max-width: 950px) {
    section {
      padding: 35px 0; } }

.section-inner {
  max-width: 1388px;
  padding: 0 10px;
  width: 100%;
  margin: auto;
  position: relative; }

/* ----------------- buttons -------------------- */
.btn {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  padding: 15px 25px;
  background: #f58b3d;
  min-width: 150px;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
  border-radius: 200px; }
  .btn .el {
    position: relative;
    left: 0;
    transition: 0.5s; }
  .btn:hover {
    color: #fff;
    background: #5dbbce; }
    .btn:hover .el {
      left: -5px; }
  .btn.no-bg {
    background: transparent;
    padding: 0; }
  @media only screen and (max-width: 1200px) {
    .btn {
      font-size: 16px;
      padding: 15px 25px;
      min-width: 120px; } }
  @media only screen and (max-width: 950px) {
    .btn {
      font-size: 15px;
      padding: 13px 20px;
      min-width: 100px; } }

.read-more {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #393939;
  margin-top: 20px;
  transition: 0.5s;
  display: inline-block; }
  .read-more i {
    position: relative;
    right: 0;
    transition: 0.5s;
    color: #142231; }
  .read-more:hover {
    color: #5dbbce; }
    .read-more:hover i {
      right: -5px;
      color: #5dbbce; }
  @media only screen and (max-width: 950px) {
    .read-more {
      font-size: 16px; } }

/* ----------------- /buttons -------------------- */
.section-title {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 1;
  color: #393939;
  text-align: center; }
  .section-title .subtitle {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #393939;
    margin-top: 10px; }
  .section-title:after {
    content: "";
    display: block;
    height: 6px;
    width: 90px;
    background-color: #5dbbce;
    margin: auto;
    margin-top: 20px; }
  .section-title.left {
    text-align: left; }
    .section-title.left:after {
      margin-left: 0; }
  @media only screen and (max-width: 1200px) {
    .section-title {
      font-size: 35px; }
      .section-title .subtitle {
        font-size: 25px; } }
  @media only screen and (max-width: 950px) {
    .section-title {
      font-size: 25px; }
      .section-title .subtitle {
        font-size: 20px; }
      .section-title:after {
        height: 4px;
        margin-top: 15px; } }

.section-subtitle {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #252A39;
  text-align: center;
  margin-top: 10px; }
  @media only screen and (max-width: 1200px) {
    .section-subtitle {
      font-size: 18px; } }
  @media only screen and (max-width: 950px) {
    .section-subtitle {
      font-size: 16px; } }

.play-button {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 100px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 100%;
  z-index: 3;
  cursor: pointer; }
  .play-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #283786;
    font-size: 35px;
    transition: 0.5s; }
  .play-button:hover i {
    color: #CF212A; }

#sm_menu_ham {
  float: right;
  left: auto;
  top: 10px;
  right: 10px; }
  #sm_menu_ham span {
    background-color: #00324B;
    height: 3px; }

.sm_menu_outer {
  background: #1e2633; }
  .sm_menu_outer .mobile_menu li {
    border-top: 1px solid #d6dbde;
    border-bottom: 1px solid #d6dbde;
    -o-border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #d6dbde 20%, #d6dbde 50%, #d6dbde 80%, rgba(0, 0, 0, 0) 100%) 0 0 1 0;
       border-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, #d6dbde 20%, #d6dbde 50%, #d6dbde 80%, rgba(0, 0, 0, 0) 100%) 0 0 1 0; }
    .sm_menu_outer .mobile_menu li a {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      padding: 15px 15px;
      color: #fff; }
  .sm_menu_outer .mobile_menu .sub-menu {
    background-color: #1e2633 !important; }
  .sm_menu_outer .mobile_menu .current_page_item > a {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #fff; }

.sm_menu_outer.slide .mobile_menu li.hasChild > a {
  background: url(../plugins/mmenu/images/prev.png) no-repeat scroll right 10px center/20px auto; }

.sm_menu_outer .mobile_menu li.back a {
  padding: 20px  20px  20px 45px;
  background: url(../plugins/mmenu/images/back-left.png) no-repeat scroll left 15px center/20px auto; }

.sm_menu_outer {
  bottom: 0;
  height: auto;
  top: 45px; }

@-webkit-keyframes pulse-scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

@keyframes pulse-scale {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }

/* ----------------- Header -------------------- */
header {
  width: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  z-index: 99;
  transition: 0.5s;
  background: #fff;
  height: 85px; }
  header .header-inner {
    width: 100%;
    max-width: 1860px;
    margin: auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%; }
    header .header-inner .menu-cont {
      margin: 0 30px;
      height: 100%;
      flex-grow: 1; }
      header .header-inner .menu-cont ul.main-menu {
        position: relative;
        display: flex;
        justify-content: center;
        height: 100%; }
        header .header-inner .menu-cont ul.main-menu .menu-item-has-children {
          position: relative; }
        header .header-inner .menu-cont ul.main-menu > li {
          position: static;
          margin: 0 1.5%;
          height: 100%; }
          header .header-inner .menu-cont ul.main-menu > li.menu-item-has-children {
            position: relative;
            padding-right: 5px; }
            header .header-inner .menu-cont ul.main-menu > li.menu-item-has-children:after {
              display: block;
              font-family: FontAwesome;
              content: "\f107";
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%); }
          header .header-inner .menu-cont ul.main-menu > li > a {
            position: relative;
            transition: 0.5s;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            font-size: 19px;
            color: #252d3b;
            padding: 10px 10px;
            white-space: nowrap;
            display: inline-block;
            height: 100%;
            line-height: 63px; }
            header .header-inner .menu-cont ul.main-menu > li > a:hover {
              color: #5dbbce !important; }
          header .header-inner .menu-cont ul.main-menu > li.current_page_item > a {
            font-family: 'Lato', sans-serif;
            font-weight: 700; }
            header .header-inner .menu-cont ul.main-menu > li.current_page_item > a:after {
              content: "";
              display: block;
              position: absolute;
              bottom: 0px;
              left: 5px;
              right: 5px;
              height: 4px;
              background: #5dbbce; }
          header .header-inner .menu-cont ul.main-menu > li .sub-menu {
            padding: 20px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 100%;
            background-color: #fff;
            border-top: 4px solid #5dbbce;
            visibility: hidden;
            opacity: 0;
            transition: 0.15s; }
            header .header-inner .menu-cont ul.main-menu > li .sub-menu li {
              margin: 0; }
              header .header-inner .menu-cont ul.main-menu > li .sub-menu li a {
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 18px;
                color: #233B4F;
                padding: 8px;
                white-space: nowrap;
                display: inline-block;
                transition: 0.5s; }
                header .header-inner .menu-cont ul.main-menu > li .sub-menu li a:hover {
                  color: #5dbbce; }
              header .header-inner .menu-cont ul.main-menu > li .sub-menu li .sub-menu {
                left: auto;
                right: 100%;
                top: 0;
                transform: translateX(-20px); }
              header .header-inner .menu-cont ul.main-menu > li .sub-menu li:hover > .sub-menu {
                visibility: visible;
                opacity: 1; }
          header .header-inner .menu-cont ul.main-menu > li:hover > .sub-menu {
            visibility: visible;
            opacity: 1; }
    header .header-inner .logo-cont, header .header-inner .contacts {
      width: 290px; }
    header .header-inner .logo-cont {
      font-size: 0; }
    header .header-inner .contacts {
      text-align: right; }
      header .header-inner .contacts .tel {
        display: inline-block;
        text-align: center;
        background: #f58b3d;
        color: #fff;
        padding: 13px;
        transition: 0.5s;
        white-space: nowrap;
        border-radius: 200px; }
        header .header-inner .contacts .tel:hover {
          background: #5dbbce; }
        header .header-inner .contacts .tel .line-1 {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 22px; }
        header .header-inner .contacts .tel .line-2 {
          font-family: 'Lato', sans-serif;
          font-weight: 700;
          font-size: 22px;
          line-height: 22px; }
          header .header-inner .contacts .tel .line-2 i {
            margin-right: 5px; }
        header .header-inner .contacts .tel .line-3 {
          height: 35px;
          width: 35px;
          border-radius: 100%;
          background: #f58b3d;
          position: relative;
          display: none;
          top: 2px; }
          header .header-inner .contacts .tel .line-3 i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-size: 24px; }
  @media only screen and (max-width: 1200px) {
    header {
      height: 60px; }
      header .header-inner .menu-cont ul.main-menu > li > a {
        font-size: 16px;
        line-height: 38px;
        padding: 10px 13px; }
      header .header-inner .logo-cont img {
        height: 40px; }
      header .header-inner .logo-cont, header .header-inner .contacts {
        width: 207px; }
      header .header-inner .contacts .tel .line-1 {
        font-size: 18px; }
      header .header-inner .contacts .tel .line-2 {
        font-size: 18px;
        line-height: 18px; } }
  @media only screen and (max-width: 950px) {
    header {
      position: fixed !important;
      background-color: #fff;
      box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.25);
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      height: 45px; }
      header .header-inner .menu-cont {
        display: none; }
      header .header-inner .logo-cont img {
        height: 35px; }
      header .header-inner .logo-cont, header .header-inner .contacts {
        width: 180px; }
      header .header-inner .contacts {
        padding-right: 50px; }
        header .header-inner .contacts .tel {
          margin-left: 40px;
          padding: 0;
          background: none !important; }
          header .header-inner .contacts .tel .line-1 {
            display: none; }
          header .header-inner .contacts .tel .line-2 {
            display: none; }
          header .header-inner .contacts .tel .line-3 {
            display: block; } }

/* ----------------- /Header -------------------- */
/* ---------------------- Section top-index ---------------------- */
section.top-index {
  height: 780px;
  background: url("../images/index/bg-top.jpg");
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; }
  section.top-index .person {
    position: absolute;
    bottom: 0;
    opacity: 0;
    max-width: 36%; }
    section.top-index .person.right {
      right: 0; }
    section.top-index .person.left {
      left: 0; }
  section.top-index .section-inner {
    text-align: center; }
    section.top-index .section-inner .line {
      text-transform: uppercase;
      line-height: 1;
      position: relative;
      white-space: nowrap; }
      section.top-index .section-inner .line span {
        color: #fff; }
    section.top-index .section-inner .line-1 {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 400;
      font-size: 41px;
      color: #f8fafc;
      height: 41px; }
    section.top-index .section-inner .line-2 {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      font-size: 69px;
      height: 69px;
      color: #5dbbce;
      margin-top: 15px; }
    section.top-index .section-inner .line-3 {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      font-size: 40px;
      height: 40px;
      color: #ffffff;
      margin-top: 80px; }
    section.top-index .section-inner .btn {
      margin-top: 75px;
      opacity: 0; }
      section.top-index .section-inner .btn.animated {
        -webkit-animation: pulse-scale 1s forwards;
                animation: pulse-scale 1s forwards; }
  @media only screen and (max-width: 1650px) {
    section.top-index {
      height: 650px; } }
  @media only screen and (max-width: 1370px) {
    section.top-index {
      height: 550px; }
      section.top-index .section-inner .line-1 {
        font-size: 35px;
        height: 35px; }
      section.top-index .section-inner .line-2 {
        font-size: 55px;
        height: 55px; }
      section.top-index .section-inner .line-3 {
        font-size: 35px;
        height: 35px;
        margin-top: 65px; } }
  @media only screen and (max-width: 1200px) {
    section.top-index {
      height: 450px; } }
  @media only screen and (max-width: 950px) {
    section.top-index {
      padding: 35px 0; }
      section.top-index .person {
        max-width: 50%; }
      section.top-index .section-inner {
        margin-top: 0; }
        section.top-index .section-inner .line-1 {
          font-size: 30px;
          height: 30px; }
        section.top-index .section-inner .line-2 {
          font-size: 40px;
          height: 80px;
          white-space: normal; }
        section.top-index .section-inner .line-3 {
          font-size: 30px;
          height: 30px;
          margin-top: 25px; }
        section.top-index .section-inner .btn {
          margin-top: 35px; } }

/* --------------------- /Section top-index ---------------------- */
/* ---------------------- Section services ---------------------- */
section.services .content {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #484848;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  margin-top: 25px; }

section.services .boxes {
  display: flex;
  justify-content: space-between;
  margin: -20px 0;
  margin-top: 65px; }
  section.services .boxes .box {
    text-align: center;
    padding: 0 20px;
    max-width: 325px; }
    section.services .boxes .box .icon {
      height: 120px; }
      section.services .boxes .box .icon img {
        max-height: 100%; }
    section.services .boxes .box .title {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 25px;
      color: #2a495b; }
    section.services .boxes .box .description {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 20px;
      color: #484848;
      margin-top: 20px; }

@media only screen and (max-width: 950px) {
  section.services .content {
    font-size: 18px; }
  section.services .boxes {
    margin-top: 35px; }
    section.services .boxes .box .icon {
      height: 70px; }
    section.services .boxes .box .title {
      font-size: 22px;
      margin-top: 15px; }
    section.services .boxes .box .description {
      font-size: 18px;
      margin-top: 10px; } }

@media only screen and (max-width: 700px) {
  section.services .boxes {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px; }
    section.services .boxes .box {
      width: 100%;
      margin-top: 35px; }
      section.services .boxes .box .icon {
        height: 60px; }
      section.services .boxes .box .read-more {
        margin-top: 15px; } }

/* --------------------- /Section services ---------------------- */
/* ---------------------- Section about-index ---------------------- */
section.about-index {
  background: url("../images/index/bg-about.jpg") no-repeat;
  background-position: center left;
  background-size: auto 100%; }
  section.about-index .parts {
    display: flex;
    align-items: center;
    margin: 0 -120px; }
    section.about-index .parts .part {
      width: 50%;
      padding: 0 120px; }
  section.about-index .placeholder {
    padding-bottom: 94%; }
  section.about-index .content {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.5;
    color: #484848; }
    section.about-index .content p, section.about-index .content li, section.about-index .content ul {
      margin-top: 30px; }
  section.about-index .read-more, section.about-index .btn {
    margin-top: 30px; }
  @media only screen and (max-width: 1600px) {
    section.about-index {
      background-position: center left -100px; } }
  @media only screen and (max-width: 1200px) {
    section.about-index .parts {
      margin: 0 -35px; }
      section.about-index .parts .part {
        padding: 0 35px; }
    section.about-index .content {
      font-size: 16px; } }
  @media only screen and (max-width: 950px) {
    section.about-index {
      background-size: 180% auto;
      background-position: bottom left;
      padding-top: 35px; }
      section.about-index .parts {
        flex-wrap: wrap;
        flex-direction: column-reverse; }
        section.about-index .parts .part {
          width: 100%; }
      section.about-index .title, section.about-index h1, section.about-index h2, section.about-index h3, section.about-index h4, section.about-index h5 {
        font-size: 30px; }
      section.about-index .placeholder {
        padding-bottom: 70%; } }

/* --------------------- /Section about-index ---------------------- */
/* ---------------------- Section how ---------------------- */
section.how {
  background: url("../images/index/bg-how.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center center;
  padding: 55px 0;
  padding-bottom: 75px;
  text-align: center; }
  section.how .title {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 1;
    color: #fff;
    text-align: center; }
  section.how .btn {
    margin: auto;
    margin-top: 45px; }
  section.how .boxes {
    display: flex;
    justify-content: space-between;
    margin: -20px 0;
    margin-top: 60px; }
    section.how .boxes .box {
      text-align: center;
      padding: 0 20px;
      max-width: 260px; }
      section.how .boxes .box .icon {
        height: 95px; }
        section.how .boxes .box .icon img {
          max-height: 100%; }
      section.how .boxes .box .text {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 600;
        font-size: 25px;
        line-height: 1.1;
        color: #fff;
        margin-top: 10px; }
  @media only screen and (max-width: 1200px) {
    section.how {
      padding: 35px 0;
      padding-bottom: 55px; }
      section.how .title {
        font-size: 40px; }
      section.how .boxes {
        margin-top: 35px; }
        section.how .boxes .box .icon {
          height: 75px; }
        section.how .boxes .box .text {
          font-size: 22px;
          margin-top: 10px; } }
  @media only screen and (max-width: 700px) {
    section.how {
      padding: 25px 0;
      padding-bottom: 55px; }
      section.how .title {
        font-size: 35px; }
      section.how .boxes {
        flex-wrap: wrap;
        margin-top: 25px; }
        section.how .boxes .box {
          width: 50%;
          margin: 20px 0; }
          section.how .boxes .box .icon {
            height: 55px; }
          section.how .boxes .box .text {
            font-size: 18px;
            margin-top: 10px; } }

/* --------------------- /Section how ---------------------- */
/* ---------------------- Section why ---------------------- */
section.why {
  padding: 120px 0;
  background: #f8fafc; }
  section.why .parts {
    display: flex;
    align-items: center;
    margin: 0 -50px; }
    section.why .parts .part {
      padding: 0 50px; }
      section.why .parts .part:nth-child(1) {
        width: 40%; }
      section.why .parts .part:nth-child(2) {
        width: 60%;
        padding-right: 100px; }
  section.why .content {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #484848;
    line-height: 1.3; }
    section.why .content p {
      margin-top: 20px; }
  section.why .boxes {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    margin: -20px; }
    section.why .boxes .box {
      width: 50%;
      margin: 0;
      padding: 20px;
      display: block;
      position: relative; }
      section.why .boxes .box:nth-child(even) {
        transform: translateY(40px); }
      section.why .boxes .box .inner {
        overflow: hidden;
        position: relative;
        background: #f8fafc;
        -webkit-filter: drop-shadow(0px 0px 15px rgba(16, 70, 111, 0.25));
                filter: drop-shadow(0px 0px 15px rgba(16, 70, 111, 0.25));
        border-radius: 0 50px;
        padding: 35px; }
      section.why .boxes .box .icon {
        background-image: linear-gradient(to bottom right, #58bad3, #173361);
        width: 100px;
        height: 100px;
        border-radius: 0 20px;
        display: flex;
        align-items: center;
        justify-content: center; }
      section.why .boxes .box .info .title {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        font-size: 25px;
        color: #393939;
        margin-top: 45px; }
      section.why .boxes .box .info .description {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #484848;
        margin-top: 20px; }
  @media only screen and (max-width: 1370px) {
    section.why {
      padding-top: 75px; }
      section.why .parts .part:nth-child(2) {
        padding-right: 50px; } }
  @media only screen and (max-width: 1200px) {
    section.why .boxes .box .info .title {
      margin-top: 5px; }
    section.why .boxes .box .info .description {
      margin-top: 10px; } }
  @media only screen and (max-width: 950px) {
    section.why {
      padding-top: 35px;
      padding-bottom: 35px; }
      section.why .parts {
        flex-wrap: wrap;
        align-items: stretch; }
        section.why .parts .part:nth-child(1) {
          width: 100%; }
        section.why .parts .part:nth-child(2) {
          width: 100%;
          margin-top: 35px; }
      section.why .content {
        font-size: 18px; }
      section.why .boxes {
        margin: -5px; }
        section.why .boxes .box {
          padding: 5px; }
          section.why .boxes .box:nth-child(even) {
            transform: translateY(0px); }
          section.why .boxes .box .inner {
            padding: 15px;
            border-radius: 0 25px;
            height: 100%; }
          section.why .boxes .box .info .title {
            font-size: 20px;
            line-height: 1;
            margin-top: 10px; }
          section.why .boxes .box .info .description {
            font-size: 18px; } }

/* --------------------- /Section why ---------------------- */
/* ---------------------- Section bottom-index ---------------------- */
section.bottom-index .parts {
  display: flex;
  align-items: center;
  margin: 0 -50px; }
  section.bottom-index .parts .part {
    padding: 0 50px; }
    section.bottom-index .parts .part:nth-child(1) {
      width: 40%; }
    section.bottom-index .parts .part:nth-child(2) {
      width: 60%;
      text-align: right; }

section.bottom-index .counter {
  text-align: center; }
  section.bottom-index .counter .number {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 97px;
    line-height: 1;
    color: #509cae; }
  section.bottom-index .counter .description {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #242c3c;
    margin-top: 5px; }

section.bottom-index .frame {
  max-width: 100%; }

@media only screen and (max-width: 1200px) {
  section.bottom-index .counter .number {
    font-size: 75px; }
  section.bottom-index .counter .description {
    font-size: 20px;
    line-height: 1; } }

@media only screen and (max-width: 700px) {
  section.bottom-index .parts {
    flex-wrap: wrap; }
    section.bottom-index .parts .part {
      padding: 0 50px; }
      section.bottom-index .parts .part:nth-child(1) {
        width: 100%; }
      section.bottom-index .parts .part:nth-child(2) {
        width: 100%;
        margin-top: 25px; } }

/* --------------------- /Section bottom-index ---------------------- */
/* ---------------------- Section contact-bottom ---------------------- */
section.contact-bottom {
  background: url("../images/index/bg-contact.jpg") no-repeat;
  background-size: auto 100%;
  background-position: center center;
  padding: 55px 0; }
  section.contact-bottom .section-inner > .parts {
    display: flex;
    align-items: center;
    margin: 0 -20px; }
    section.contact-bottom .section-inner > .parts .part {
      width: 50%;
      padding: 0 20px; }
  section.contact-bottom .title {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 97px;
    line-height: 1;
    color: #fff; }
  section.contact-bottom .wpcf7 {
    margin-top: 30px; }
    section.contact-bottom .wpcf7 .parts {
      display: flex;
      align-items: stretch;
      margin: 0 -10px; }
      section.contact-bottom .wpcf7 .parts .part {
        width: 50%;
        padding: 0 10px; }
    section.contact-bottom .wpcf7 form {
      position: relative;
      text-align: right; }
    section.contact-bottom .wpcf7 input,
    section.contact-bottom .wpcf7 select,
    section.contact-bottom .wpcf7 textarea {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 17px;
      color: #283141;
      border: none;
      background: #fff;
      outline: none;
      border-radius: 10px;
      padding: 13px;
      width: 100%;
      height: 100%; }
      section.contact-bottom .wpcf7 input::-webkit-input-placeholder,
      section.contact-bottom .wpcf7 select::-webkit-input-placeholder,
      section.contact-bottom .wpcf7 textarea::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #283141; }
      section.contact-bottom .wpcf7 input:-moz-placeholder,
      section.contact-bottom .wpcf7 select:-moz-placeholder,
      section.contact-bottom .wpcf7 textarea:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #283141; }
      section.contact-bottom .wpcf7 input::-moz-placeholder,
      section.contact-bottom .wpcf7 select::-moz-placeholder,
      section.contact-bottom .wpcf7 textarea::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #283141; }
      section.contact-bottom .wpcf7 input:-ms-input-placeholder,
      section.contact-bottom .wpcf7 select:-ms-input-placeholder,
      section.contact-bottom .wpcf7 textarea:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #283141; }
    section.contact-bottom .wpcf7 select {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url("../images/icons/ard.png");
      background-repeat: no-repeat;
      background-position: right 15px center; }
    section.contact-bottom .wpcf7 .wpcf7-form-control-wrap {
      display: block;
      margin-top: 15px;
      position: relative;
      overflow: visible; }
      section.contact-bottom .wpcf7 .wpcf7-form-control-wrap:first-child {
        margin-top: 0; }
    section.contact-bottom .wpcf7 .your-message {
      height: 100%; }
      section.contact-bottom .wpcf7 .your-message textarea {
        height: 100%; }
    section.contact-bottom .wpcf7 input[type="submit"] {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
      background: #f58b3d;
      padding: 18px 55px;
      border-radius: 50px;
      display: block;
      cursor: pointer;
      transition: 0.5s;
      position: relative;
      width: auto;
      margin-top: 25px;
      border: none;
      float: right; }
      section.contact-bottom .wpcf7 input[type="submit"]:hover {
        background: #5dbbce; }
    section.contact-bottom .wpcf7 span[role="alert"] {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 14px;
      color: #B2D87E;
      position: absolute;
      left: 17px;
      bottom: 2px; }
    section.contact-bottom .wpcf7 .wpcf7-response-output {
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: 16px;
      color: #B2D87E;
      position: absolute;
      bottom: -50px;
      border: none;
      padding: 0;
      margin: 0; }
    section.contact-bottom .wpcf7 .ajax-loader {
      display: none; }
  @media only screen and (max-width: 1200px) {
    section.contact-bottom .title {
      font-size: 75px; } }
  @media only screen and (max-width: 950px) {
    section.contact-bottom .title {
      font-size: 55px; }
    section.contact-bottom .section-inner > .parts {
      flex-wrap: wrap; }
      section.contact-bottom .section-inner > .parts .part {
        width: 100%; } }
  @media only screen and (max-width: 500px) {
    section.contact-bottom {
      padding: 35px 0; }
      section.contact-bottom .title {
        font-size: 40px; }
      section.contact-bottom .wpcf7 {
        margin-top: 30px; }
        section.contact-bottom .wpcf7 .parts {
          flex-wrap: wrap; }
          section.contact-bottom .wpcf7 .parts .part {
            width: 100%;
            padding: 0 10px; }
            section.contact-bottom .wpcf7 .parts .part:nth-child(2) {
              margin-top: 15px; } }

/* --------------------- /Section contact-bottom ---------------------- */
/* ---------------------- Footer ---------------------- */
footer .part-top {
  padding-top: 100px;
  padding-bottom: 60px;
  background: #1f2335;
  color: #fff; }
  footer .part-top .parts {
    display: flex;
    margin: 0 -50px; }
    footer .part-top .parts .part {
      width: 50%;
      padding: 0 50px; }
  footer .part-top .cols {
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 17px;
    text-align: left;
    margin: -10px; }
    footer .part-top .cols .col {
      margin: 0 10px;
      color: #fff;
      max-width: 485px; }
      footer .part-top .cols .col .title {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        height: 20px;
        color: #5dbbce; }
      footer .part-top .cols .col .content {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 17px;
        margin-top: 20px; }
        footer .part-top .cols .col .content a {
          color: #fff;
          transition: 0.5s; }
          footer .part-top .cols .col .content a:hover {
            color: #5dbbce; }
        footer .part-top .cols .col .content p, footer .part-top .cols .col .content li {
          margin-top: 10px; }
  footer .part-top .logos {
    display: flex;
    justify-content: space-between; }
    footer .part-top .logos .logo img {
      max-width: 100%; }
  footer .part-top .info {
    margin-top: 70px; }
    footer .part-top .info .title {
      font-family: 'Titillium Web', sans-serif;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      height: 20px;
      color: #5dbbce; }
    footer .part-top .info .content {
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      font-size: 17px; }
      footer .part-top .info .content p {
        margin-top: 20px; }

footer .part-bottom {
  padding: 30px 0;
  background: #1f2335;
  color: #fff;
  border-top: 1px solid #484b59; }
  footer .part-bottom .section-inner {
    max-width: 1820px; }
  footer .part-bottom .parts {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  footer .part-bottom .copyright {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff; }
  footer .part-bottom .cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap; }
    footer .part-bottom .cards img {
      display: block;
      margin: 10px 10px; }
  footer .part-bottom .social {
    display: flex;
    margin: 0 -5px; }
    footer .part-bottom .social a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      border: 1px solid #fff;
      border-radius: 100%;
      margin: 0 5px;
      background: transparent;
      transition: 0.5s; }
      footer .part-bottom .social a:hover {
        background: #5dbbce; }

@media only screen and (max-width: 1200px) {
  footer .part-top {
    padding-top: 60px; }
    footer .part-top .parts {
      flex-wrap: wrap; }
      footer .part-top .parts .part {
        width: 100%; }
        footer .part-top .parts .part:nth-child(2) {
          margin-top: 75px; } }

@media only screen and (max-width: 950px) {
  footer .part-top {
    padding-top: 30px;
    padding-bottom: 35px; }
    footer .part-top .cols {
      flex-wrap: wrap; }
      footer .part-top .cols .col {
        margin-top: 25px; }
    footer .part-top .info {
      margin-top: 50px; }
  footer .part-bottom {
    padding-top: 10px; }
    footer .part-bottom .parts {
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column-reverse; }
      footer .part-bottom .parts .part {
        width: 100%;
        margin-top: 25px;
        text-align: center; }
    footer .part-bottom .social, footer .part-bottom .cards {
      justify-content: center; } }

/* --------------------- /Footer ---------------------- */
/* ---------------------- Section top-inner ---------------------- */
section.top-inner {
  padding: 55px 0;
  color: #fff;
  background-color: #1e2633;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  text-align: center; }
  section.top-inner .section-inner {
    z-index: 2; }
  section.top-inner .title {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 46px;
    line-height: 1;
    margin: 0;
    color: #5dbbce; }
  section.top-inner .breadcrumbs {
    margin-top: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 17px; }
    section.top-inner .breadcrumbs a {
      color: #fff; }
  @media only screen and (max-width: 1200px) {
    section.top-inner {
      padding: 45px 0; }
      section.top-inner .title {
        font-size: 40px; } }
  @media only screen and (max-width: 950px) {
    section.top-inner {
      padding: 35px 0; }
      section.top-inner .title {
        font-size: 35px; }
      section.top-inner .breadcrumbs {
        font-size: 16px; } }

/* --------------------- /Section top-inner ---------------------- */
/* ---------------------- Section steps ---------------------- */
section.steps .content {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #484848;
  text-align: center;
  max-width: 1220px;
  margin: auto; }
  section.steps .content p {
    margin-top: 25px; }

section.steps .steps {
  max-width: 990px;
  margin: auto;
  margin-top: 90px;
  position: relative; }
  section.steps .steps:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    border: 1px dashed  #424242;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5; }
  section.steps .steps .line {
    width: 100%; }
    section.steps .steps .line:nth-child(odd) .item {
      margin-right: 0;
      margin-left: auto;
      padding-left: 45px;
      padding-right: 0px; }
      section.steps .steps .line:nth-child(odd) .item .dot {
        left: 0;
        right: auto;
        transform: translateX(-50%); }
    section.steps .steps .line .item {
      width: 50%;
      margin-left: 0;
      margin-right: auto;
      padding-left: 0;
      padding-right: 45px;
      position: relative; }
      section.steps .steps .line .item .dot {
        width: 15px;
        height: 15px;
        background: #5dbbce;
        border-radius: 100%;
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(50%); }
      section.steps .steps .line .item .inner {
        background: #f3f6fa;
        padding: 30px;
        border-radius: 0 30px;
        position: relative; }
      section.steps .steps .line .item .num {
        height: 75px;
        width: 75px;
        background: #5dbbce;
        border-radius: 100%;
        border: 8px solid #fff;
        font-family: 'Titillium Web', sans-serif;
        font-weight: 900;
        font-size: 34px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        transform: translateY(-50%);
        left: 30px; }
      section.steps .steps .line .item .title {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 1;
        color: #2a495b;
        margin-top: 25px; }
      section.steps .steps .line .item .content {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #484848;
        text-align: left; }
        section.steps .steps .line .item .content p {
          margin-top: 15px; }

@media only screen and (max-width: 700px) {
  section.steps .content {
    font-size: 18px; }
  section.steps .steps:before {
    left: 10px; }
  section.steps .steps .line {
    margin-top: 35px; }
    section.steps .steps .line .item, section.steps .steps .line:nth-child(odd) .item {
      width: 100%;
      margin-right: 0;
      margin-left: auto;
      padding-left: 35px;
      padding-right: 0px; }
      section.steps .steps .line .item .inner, section.steps .steps .line:nth-child(odd) .item .inner {
        padding: 20px;
        border-radius: 0 20px; }
      section.steps .steps .line .item .dot, section.steps .steps .line:nth-child(odd) .item .dot {
        left: 10px;
        right: auto;
        transform: translateX(-50%); }
      section.steps .steps .line .item .num, section.steps .steps .line:nth-child(odd) .item .num {
        height: 50px;
        width: 50px;
        font-size: 22px;
        border: 4px solid #fff; }
      section.steps .steps .line .item .title, section.steps .steps .line:nth-child(odd) .item .title {
        font-size: 22px;
        margin-top: 15px; }
      section.steps .steps .line .item .content, section.steps .steps .line:nth-child(odd) .item .content {
        font-size: 18px; } }

/* --------------------- /Section steps ---------------------- */
/* ---------------------- Section team ---------------------- */
section.team .boxes {
  display: flex;
  flex-wrap: wrap;
  font-size: 0;
  margin: -20px;
  margin-top: 100px; }
  section.team .boxes .box {
    width: 33.333%;
    margin: 0;
    padding: 20px;
    display: block;
    position: relative; }
    section.team .boxes .box:nth-child(2), section.team .boxes .box:nth-child(5), section.team .boxes .box:nth-child(8) {
      transform: translateY(-40px); }
    section.team .boxes .box .inner {
      overflow: hidden;
      position: relative;
      background: #f8fafc;
      -webkit-filter: drop-shadow(0px 0px 15px rgba(16, 70, 111, 0.25));
              filter: drop-shadow(0px 0px 15px rgba(16, 70, 111, 0.25));
      border-radius: 0 50px; }
    section.team .boxes .box .image {
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden; }
      section.team .boxes .box .image img {
        min-width: 100%;
        flex-shrink: 0; }
    section.team .boxes .box .info {
      background: #fff;
      padding: 25px 45px; }
      section.team .boxes .box .info .name {
        font-family: 'Titillium Web', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 1;
        color: #393939; }
      section.team .boxes .box .info .position {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
        font-size: 20px;
        color: #484848;
        margin-top: 5px; }

@media only screen and (max-width: 1200px) {
  section.team .boxes {
    margin: -15px;
    margin-top: 70px; }
    section.team .boxes .box {
      padding: 15px; }
      section.team .boxes .box .inner {
        border-radius: 0 30px; }
      section.team .boxes .box .image {
        height: 200px; }
      section.team .boxes .box .info {
        padding: 15px 25px; }
        section.team .boxes .box .info .name {
          font-size: 20px; }
        section.team .boxes .box .info .position {
          font-size: 18px; } }

@media only screen and (max-width: 700px) {
  section.team .boxes {
    margin: -10px;
    margin-top: 50px; }
    section.team .boxes .box {
      padding: 10px;
      width: 50%; }
      section.team .boxes .box:nth-child(2), section.team .boxes .box:nth-child(5), section.team .boxes .box:nth-child(8) {
        transform: translateY(0px); }
      section.team .boxes .box:nth-child(even) {
        transform: translateY(-20px); }
      section.team .boxes .box .inner {
        border-radius: 0 20px; }
      section.team .boxes .box .image {
        height: 175px; }
        section.team .boxes .box .image img {
          min-width: 0;
          height: 100%; }
      section.team .boxes .box .info {
        padding: 10px 15px; }
        section.team .boxes .box .info .name {
          font-size: 20px; }
        section.team .boxes .box .info .position {
          font-size: 18px; } }

/* --------------------- /Section team ---------------------- */
